<main>
    <section>
        <fieldset>
            <legend>Sign up</legend>
            <label for="firstNameInput">First name</label>
            <br>
            <input id="firstNameInput" type="text" required>
            <br>
            <label for="lastNameInput">Last name</label>
            <br>
            <input id="lastNameInput" type="text" required>
            <br>
            <label for="emailInput">Email</label>
            <br>
            <input id="emailInput" type="text" required>
            <br>
            <label for="password">Password</label>
            <br>
            <input id="passwordInput" type="text" required>
            <br>
            <button id="signUpBtn">Sign up</button>
            <button id="cancelBtn">Cancel</button>
        </fieldset>
    </section>
</main>