<main>
    <section>
        <fieldset>
            <legend>Sign up</legend>
            <form action="./login_page.php" method="get">
                <label for="firstNameInput">First name</label>
                <br>
                <input id="firstNameInput" type="text" required>
                <br>
                <label for="lastNameInput">Last name</label>
                <br>
                <input id="lastNameInput" type="text" required>
                <br>
                <label for="emailInput">Email</label>
                <br>
                <input id="emailInput" type="text" required>
                <br>
                <label for="passwordInput">Password</label>
                <br>
                <input id="passwordInput" type="password" required>
                <br>
                <button id="signUpBtn" type="submit">Sign up</button>
            </form>
            <form action="./login_page.php" method="get">
                <button id="cancelBtn" type="submit">Cancel</button>
            </form>
        </fieldset>
    </section>
    <script src="./js/authentication.js"></script>
</main>