* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

#searchInputDiv {
    padding-bottom: 0.5em;
    display: flex;
}

#searchSection {
    margin: 0.3em;
    padding: 0.5em;
    background-color: #88D1f1;
    border-radius: 1em;
}

button {
    border-radius: 0.5em;
    background: #4682b4;
    color: #FFF;
    font-weight: 700;
}

#searchTypeBtn {
    margin-left: 0.5em;
}

.movieImages, .personImages {
    width: 8em;
}

#searchInput {
    width: 70%;
    border-radius: 0.3em;
    font-weight: 700;
}

#displayedData {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

#displayedData > div {
    background-color: #88D1f1;
    border-radius: 1em;
    text-align: center;
}

.dataDivs {
    margin: 0.2em;
}

.dataDivs > p {
    font-weight: 800;
}

.ui-dialog .ui-dialog-titlebar {
    background: #88D1f1;
}

.descriptionAttributes{
    font-weight: 900;
    font-size: 14px;
}

.dialogScrollView {
    overflow-y: scroll;
    height: 5em;
    width: 80%;
    border-style: groove;
}

#generalMovieDiv {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
}

p, li, a {
    font-size: 14px;
}

#genreProdListDiv {
    display: grid;
    grid-template-columns: 50% 50%;
}

#crewsDiv {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#generalPersonDiv {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
}

@media (max-width: 940px) {
   #generalMovieDiv {
    grid-template-columns: 25% 25% 25% 25%;
   }
}

@media (max-width: 770px) {
    #generalMovieDiv {
     grid-template-columns: 33% 33% 33%;
    }
 }

@media (max-width: 700px) {
    .movieImages, .personImages {
        width: 6em;
    }
}

@media (max-width: 550px) {
    .movieImages, .personImages {
        width: 4em;
    }

    #displayedData {
        grid-template-columns: 25% 25% 25% 25%;
    }
}


@media (max-width: 400px) {
    #displayedData {
        grid-template-columns: 33% 33% 33%;
    }
    #crewsDiv {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 330px) {
    #generalMovieDiv {
        grid-template-columns: 50%;
    }
}

@media (max-width: 250px) {
    #displayedData {
        grid-template-columns: 100%;
    }
}

