* {
    margin: 0;
    padding: 0;
}

#searchInputDiv {
    padding-bottom: 0.5em;
    display: flex;
}

#searchSection {
    margin: 0.3em;
}

#searchTypeBtn {
    margin-left: 0.5em;
}

.movieImages, .personImages {
    width: 8em;
}

#searchInput {
    width: 40%;
}

#displayedData {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

#displayedData > div {
    background-color: #88D1f1;
    border-radius: 1em;
}

.dataDivs {
    margin: 0.2em;
}

/* #ui-id-1:parent {
    background: #88D1f1;
} */

.descriptionAttributes{
    font-weight: 900;
}

@media (max-width: 700px) {
    .movieImages, .personImages {
        width: 6em;
    }
}

@media (max-width: 550px) {
    .movieImages, .personImages {
        width: 4em;
    }
}

@media (max-width: 400px) {
    #displayedData {
        grid-template-columns: 33% 33% 33%;
    }
}

@media (max-width: 250px) {
    #displayedData {
        grid-template-columns: 100%;
    }
}

