#searchInputDiv {
    padding-bottom: 0.5em;
    display: flex;
}

.movieImages, .personImages {
    width: 8em;
}

#movieInput {
    width: 40%;
}

#displayedData {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

#displayedData > div {
    background-color: #88D1f1;
    border-radius: 1em;
}

.dataDivs {
    margin: 0.2em;
}