<main>
    <section>
        <label for="filmTitleInput" id="filmTitle">Film title</label>
        <br>
        <input id="filmTitleInput" name="filmTitleInput" type="text">
        <button id="searchMovieBtn" name="searchMovieBtn">Search</button>
        <button>New movie</button>
    </section>
    <section>
        <table id="moviesTable">
            <tr>
                <th>Title</th>
                <th>Release date</th>
                <th>Runtime</th>
            </tr>
        </table>
    </section>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="./js/films.js"></script>